<!-- <router-outlet></router-outlet> -->


<nz-layout>
    <nz-header>
        <app-top-navbar></app-top-navbar>
    </nz-header>
    <div class="pageContent" data-theme="background" appThemeApplier>
        <div [ngSwitch]="screenType">
             <div *ngSwitchCase="'desktop'" class="container">
                <nz-layout>
                    <nz-sider data-theme="background" appThemeApplier>
                        <ng-container *ngIf="screenType === 'desktop'">
                            <ng-template #mfeSidemenu>l</ng-template>
                        </ng-container>
                    </nz-sider>
                    <app-component-wrapper data-theme="background" appThemeApplier style="width: 100%;"></app-component-wrapper>
                </nz-layout>
            </div>
            <nz-layout *ngSwitchCase="'tablet'">
                <nz-header>
                    <ng-container *ngIf="screenType === 'tablet'">
                        <ng-template #mfeNavbar></ng-template>
                    </ng-container>
                </nz-header>
                <app-component-wrapper data-theme="background" appThemeApplier></app-component-wrapper>
            </nz-layout>
            <nz-layout *ngSwitchCase="'mobile'">
                <nz-content>
                    <ng-container *ngIf="screenType === 'mobile'">
                        <ng-template #mfeNavbar></ng-template>
                    </ng-container>
                </nz-content>
                <app-component-wrapper data-theme="background" appThemeApplier></app-component-wrapper>
            </nz-layout>
        </div>
    </div>
</nz-layout>
